.cards {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.card {
    width: 35%;
    background-color: #cdcdcd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 500px;
    display: block;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4); /* bottom-only shadow */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
